.product {
    width:90%;
    margin:2rem auto;
    font-size: 1.4rem;
    background-color: #f5f9fa;
    border-top: 2px solid #ff9900;
    box-shadow: 0 0 4px #ccc;
}

.product h2{
    float:left;
    width:20%;
    margin-top:3rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: normal;
    color: #635c51;
}

.product h2 em{
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
}

.product h2 em:first-child{
    margin-top:4rem;
}

.product .product-content{
    float:right;
    width:79.5%;
    border-left: 1px solid #eee;
    background-color: #fff;
}

.product .product-content .item {
    width:100%;
}

.product .product-content .item + .item{
    border-top: 1px solid #000;
}

.product .product-content .item h3{
    float: left;
    width:30%;
    margin:1.5rem 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.product .product-content .item h3 em{
    margin-right: 0.5rem;
    font-size: 3.6rem;
    font-style: normal;
    color: #8b999d;
}

.product .product-content .item h3 i {
    display: block;
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item info {
    float: left;
    width: 48%;
    padding: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 14px;
}

.product .product-content .item .info p{
    float: left;
    display: inline-block;
    text-align: center;
    width: 56%;
}

.product .product-content .item .info p:last-child{
    width: 40%;
}

.product .product-content .item .info p span{
    display: block;
    font-size: 2.4rem;
    color: #ff9900;
}

.product .product-content .item .info p span i{
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item .buy{
    float: left;
    width:calc(22% - 4.4rem);
    padding:1rem;
}

.product .product-content .item .buy a{
    display: block;
    width: 90%;
    margin: 1.5rem auto;
    max-width:12rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff9900;
    border-radius: 5px;
}

.product .product-content .item .buy a:hover,
.product .product-content .item .buy a:active{
    background-color: #ffc648;
}

.product .product-content .item .buy a.disabled {
    background-color: #ccc !important;
    cursor:not-allowed;
}